/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-color: #0b0b0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #1a1a1f;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 255, 127, 0.3);
  }
  
  h2 {
    font-size: 16px;
    letter-spacing: 2px;
    color: #777;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .password-box {
    background: #26262b;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .password-box input {
    background: transparent;
    border: none;
    color: #b5f3b5;
    font-size: 20px;
    width: 100%;
    outline: none;
    font-weight: bold;
  }
  
  .copy-btn {
    cursor: pointer;
    color: #b5f3b5;
    font-size: 18px;
  }
  
  .options {
    margin-top: 20px;
    text-align: left;
  }
  
  .slider {
    width: 100%;
    margin-top: 10px;
    accent-color: #0aff0a;
  }
  
  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
  }
  
  .checkboxes label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #ddd;
  }
  
  .checkboxes input[type="checkbox"] {
    accent-color: #0aff0a;
  }
  
  .strength {
    margin-top: 15px;
    padding: 10px;
    background: #111;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .strength span {
    color: #0aff0a;
    font-size: 14px;
  }
  
  .strength-indicator {
    display: flex;
    gap: 4px;
  }
  
  .strength-indicator div {
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background: #444;
  }
  
  .generate-btn {
    background: #0aff0a;
    color: #111;
    font-weight: bold;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .generate-btn:hover {
    background: #00cc00;
  }
  